<h2>Login or Sign up with your OpenID</h2>

<% form_tag session_path do %>
  <label for="openid_url">Your OpenID:</label> <%= text_field_tag "openid_url" %> <%= submit_tag "Sign In" %>
<% end %>

<h3>Don't have an OpenID?</h3>

<p>OpenID is an open standard that allows users to authenticate to websites
without having to create a new password. Many websites you already use are
OpenID providers, so you might already have one! If not, you can
<a href="https://www.myopenid.com/signup?affiliate_id=20718&amp;openid.sreg.optional=email,nickname">register for one</a>.</p>

<script type="text/javascript" charset="utf-8"><![CDATA[ idselector_input_id = "the_openid_box"; ]]></script>
<script type="text/javascript" charset="utf-8" id="__openidselector" src="https://www.idselector.com/selector/3659aaade6d1b01fbae5c96ee930ed7e3c746c3c"></script>