body {
  font-size: 75%;
  background-color: #3a3a3c;
  color: #ccc;
  line-height: 1.5em;
}

html>body {
  font-size: 12px;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, form,
fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
  margin:  1.5em 0;
  padding: 0;
}

li, dd, blockquote {
  margin-left: 1em;
}

a {
  color: #fff;
  text-decoration: none
}

li {
  list-style: none
}

a img {
  border: none;
}

body, table, textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
}

#application {
  padding: 0 1.5em;
  width: 990px;
  margin: 1.5em auto;
}

/* Navigation ------------------------------------------------------------- */

#navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8333em;
  line-height: 1.8em;
  height: 2.5em;
}

#navigation ul {
  position: absolute;
  right: 0;
  margin: 0.5em 0.5em 0 0;
}

#navigation li {
  background-color: #CCC;
  margin-left: 0.5em;
  float: left;
  padding: 0.12em 1em 0.13em 1em;
  text-transform: uppercase;
  font-weight: bold;
}

#navigation li a:link, #navigation li a:visited {
  color: #666;
}

#navigation li a:focus, #navigation li a:hover {
  background-color: transparent;
  color: #333;
}

#navigation.matches #matches_navigation,
#navigation.users #users_navigation,
#navigation li.current {
  background-color: #eee !important;
}


#navigation.matches #matches_navigation a,
#navigation.users #users_navigation a,
#navigation li.current a {
  color: #333 !important;
}

/* Content ---------------------------------------------------------------- */

#content {
  position: relative;
  background-color: #eee;
  color: #333;
  padding: 10px;
  font-size: 1em;
  _height:1%;
  overflow:auto;
}

#content p, #content li {
  line-height: 1.5em;
}

#content a:link {
  color: #666;
  text-decoration: none;
}

#content a:visited {
  color: #666
}

#content a:focus, #content a:hover {
  background-color: #eee
}

#content a:active {
  color: #ccc;
  background-color: #333
}

#content img.center {
  display: block;
  margin: 0 auto;
  }
  
#new-session {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#new-session h2 {
  font-size: 2.5em;
  margin: .5em 0;
}

#new-session h3 {
  color: #666;
  font-size: 1.5em;
  margin: 1em 0 0;
  padding: 0;
}

#new-session p {
  font-size: 1em;
  margin: 1em 0 1em;
  padding: 0;
}

#new-session form {
  border-bottom: 10px solid #d5d5d5;
  margin: 0;
  padding: 20px 0;
  }
  
#new-session label {
  font-size: 16px;
  vertical-align: baseline;
}

#openid_url {
  font-size: 16px;
  vertical-align: baseline;
}

#new-session input[type=text] {
  margin-right: 5px;
  vertical-align: baseline;
}

#new-session input[type=submit] {
  margin-left: 2px;
  vertical-align: baseline;
}


  
/* Splash ----------------------------------------------------------------- */

#content.splash {
  color: #ccc;
  text-align: center;
  background-color: #3a3a3c;
  }
  
#foot.splash p#copyright,#foot.splash p#copyright a,#foot.splash p#copyright strong {
  color: #686868;
}

#foot.splash p#copyright,#foot.splash {
  width: 990px;
  position: absolute;
  bottom: 10px;
  text-align: right;
}

/* Matches --------------------------------------------------------------- */

table.match {
  margin: 20px 0;
  background-color: #666;
  width: 100%;
  margin: 0;
  padding: 0;
}

table.match td {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

td.match-name {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  border: 4px solid #666;
  width: 67%;
}

table.dates {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #666;
}

table.dates td {
  margin: 0;
  padding: 0;
}



/* Header ---------------------------------------------------------------- */

#masthead {
  background-color: #3a3a3c;
  height: 274px;
  position: relative;
}

#masthead h1 {
  color: #ddd;
  height: 274px;
  margin: 0;
  padding: 5px 20px;
  background: #3a3a3c url(../images/head.png) no-repeat scroll 128px top;
  text-indent: -900000000px;
}



/* Footer ----------------------------------------------------------------- */

#foot {
  margin-top: 0.5em;
  font-size: 0.833em;
  line-height: 1.8em;
}

#copyright {
  margin: 0;
  color: #ccc;
  font-size: 1.1em;
  font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
  font-style:italic;
}

#copyright strong {
  color: #eee;
  font-variant:small-caps;
  text-transform:lowercase;
  font-style: normal;
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#session {
  float: right;
  margin: 0 0 0.6em 0;
}

#session li {
  margin-left: 0.6em;
  float: left;
}

#session li a {
  display: block;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.1em 0.6em 0.2em 0.6em;
}

#session li a:link, #session li a:visited {
  color: #333;
  background-color: #ccc;
}

#session li a:focus, #session li a:hover, #session li a:active {
  color: #666;
  background-color: #fff;
}

/* Flash Messages --------------------------------------------------------- */

#flash {
  width: auto;
  border-top: 0.1666em solid #333;
  border-bottom: 0.0834em dotted #333;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.25em;
  margin: 0 0 1.5em 0;
}

#flash.notice {
  color: #060;
  border-color: #060;
  background-color: #DED;
}

#flash.error {
  color: #900;
  border-color: #900;
  background-color: #ECC;
}

/* Tables ------------------------------------------------------------------ */

/* table {
  border-spacing: 4px;
  width: 100%;
}

table th {
  padding: 0 6px;
  text-align: left;
}

table td {
  background: #fff;
  padding: 0 6px;
  height: 24px;
}