<div id="home">
  <%= image_tag("home-group.png", :size => "475x321", :alt => "Hollywood Squares!", :class => "center") %>
  <p><strong>Code Tennis</strong> is turn-based programming game goodness.  It's extreme paired-programming, but with Vikings and Pandas.</p>
  <p><strong><%= link_to 'Get started', login_path %></strong> or <strong><%= link_to 'get help', help_path %></strong>.</p>
</div>