<h1>Current Matches</h1>

<table>
<% for match in @matches %>
  <tr>
    <td><%= link_to h(match.name), match %></td>
    <td><%=h match.description %></td>
  </tr>
<% end %>
</table>

<br />

<%- if logged_in? -%>
<p>
  <%= link_to("Setup a new match", new_match_path) %>
</p>
<%- end -%>