<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Code Tennis</title>
  <%= stylesheet_link_tag :all %>
</head>
<body>

<div id="application">

<!-- END #masthead -->

<div id="content" class="splash">

<%= link_to image_tag("group.png", :size => "714x580", :alt => "The best party ever", :class => "center"), login_path %>

</div> <!-- END #content -->

<div id="foot" class="splash">

  <p id="copyright"><strong>Code Tennis.</strong> Copyright &copy; 2008 <a href="http://paint.itred.org">Paint.itRed</a>, Most rights reserved.</p>
  
</div> <!-- END #foot -->
</div> <!-- END #application -->

</body>
</html>
